.centered-text{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
        "icon . ."
        ". text ."
        ". . icon-bottom";
    height: 100vh;
}
i.icon, i.icons {
    font-size: 10em !important;
}
.season-view{
    justify-self: center;
    align-self: center;
}
.season-text{
    grid-area: text;
}